<li>{{blog.title}}'s Review by {{blog.author}}
  {{#if isImageShowing}}
    <p><img src={{blog.image}} {{action 'imageHide'}}></p>
  {{else}}
    <button {{action 'imageShow'}}>Show Image</button>
  {{/if}}
  <button {{action 'delete' blog}}>Delete Blog</button>
</li>
